.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0px;
    font-size: 18px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7Eb;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.hero-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-state {
    padding-right: 20px;
}

* {
    margin: 0;
}

.information {
    display: flex;
    flex-direction: column;
    padding-top: 15px
}

.content {
    display: flex;
    flex-direction: column;
}

#head-img {
    width: 900px;
    height: 200px;
    margin: 70px 0px;
    border: 2px solid white;
    max-width: 100%;
}

.info-images {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

#info-img {
    height: 200px;
    width: 200px;
    border: 2px solid #1F2937;
    max-height: 100%;
    max-width: 100%;
}

#content-text {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.img-description {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.info-images-1,
.info-images-2,
.info-images-3,
.info-images-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-desc {
    padding-top: 5px;
    font-style: italic;
    font-weight: 500;
}

.quote-section {
    display: flex;
    background-color: #E5E7Eb;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote {
    display: flex;
    font-size: 30px;
    font-style: italic;
    width: 900px;
    color: #1F2937;
}

.author {
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
    padding-right: 40px;
}

.action {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    background-color: #3882f6;
    margin: 50px 140px;
    border-radius: 4px;
}

.call-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    gap: 5px;
    justify-content: center;
}

.action-call {
    display: flex;
    border-radius: 4px;
}

#sign-up {
    border: 2px solid white;
    border-radius: 5px;
}